<select (change)="onChangeKeg($event.target.value)" class="filter">
  <option value="all">Show All</option>
  <option value="isEmpty">Show Empty</option>
  <option value="notEmpty" selected="selected">Show Not Empty</option>
</select>
<keg-display *ngFor="#currentKeg of kegList | isEmpty:filterEmpty"
  (click)="kegClicked(currentKeg)"
  [class.selected]="currentKeg === selectedKeg"
  [keg]="currentKeg">
</keg-display>
<edit-keg-details *ngIf="selectedKeg" [keg]="selectedKeg">
</edit-keg-details>
<new-keg (onSubmitNewKeg)="createKeg($event)"></new-keg>
